body {
    padding-top:30px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.block {
    margin-bottom: 40px;
}


#tryIt div {
    margin-bottom:3px;
}

#tryIt input {
    width:30px;
    text-align:center;
    border:0
}

